body {
  background-color: #151320;
}
.blog {
  width: 90%;
  height: 900px;
  display: flex;
  justify-content: center;

  margin-top: 40px;

  margin-left: 70px;
  border: 2px solid rgb(0, 153, 255);
}
.blog h1 {
  width: 100%;
  height: 10%;
  margin-left: 200px;

  border: 2px solid red;
  color: rgb(25, 159, 248);
}
p {
  justify-content: center;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}
h3 {
  width: 105;
  height: 5%;
  border: 2px solid red;
  display: flex;
  margin-right: 700px;
  display: inline;
  margin-top: 170px;
  color: rgb(83, 168, 224);
}
