body {
  background-color: #151320;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4e4e52;
  border: 2px sild gray;
  height: 50px;
  border-radius: 4px;
  position: static;
}
.logo {
  width: 20%;
  height: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.logo img {
  width: 40px;
}
.logo p {
  color: rgb(11, 180, 247);
}
.home a span {
  color: rgb(255, 255, 255);
  margin-left: 700px;
  transition: 0.5s;
}
.home:hover a span {
  color: rgb(23, 236, 252);
  border-bottom: 2px solid rgb(255, 255, 255);
}
.profile a span {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  transition: 0.5s;
}
.profile:hover a span {
  color: rgb(23, 236, 252);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.about a span {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  transition: 0.5s;
}
.about:hover a span {
  color: rgb(23, 236, 252);
  border-bottom: 2px solid rgb(255, 255, 255);
}
.log a span {
  color: rgb(243, 85, 74);
  margin-left: 50px;
  transition: 0.5s;
}
.log:hover a span {
  color: rgb(23, 236, 252);
  border-bottom: 2px solid rgb(255, 255, 255);
}
