body {
  background-color: #151320;
}

.side {
  position: relative;
  width: 300px;
  height: 473px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 98px;
  box-shadow: 0 20px 35px;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 20px;
}
header {
  width: 94%;
  border: 2px solid red;
  height: 10%;
  align-items: center;
  margin-top: 2px;
  justify-content: center;
  margin-left: 5px;
  border-radius: 10px;
  display: flex;
  color: aqua;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
.text {
  width: 98%;
  margin-left: 4px;
  border-radius: 10px;
  height: 70%;
  background-color: rgb(211, 211, 211);
}
.sender {
  width: 96%;
  border-radius: 10px;
  height: 16%;
  background-color: rgb(211, 211, 211);
  margin-left: 3px;
}
